#{extends 'main.html' /}
#{set title:'Home' /}

 <!--#{welcome /} -->


<div class="container">
	<row>
		<div class="home-contain col-md-6 col-md-offset-3 panel panel-default">

			<h1 class="text-center">The IoT Middleware of ICS</h1>

			<p class="brief text-center">
				Someone told me long ago there's a calm before the storm. I know, It's been comin for some time.<br>
				When it's over, so they say, it'll rain a sunny day. I know,	Shinin down like water.<br> I want to know, have you ever seen the rain?
			</p>

			<form class="register-login">
					<input type="text" class="username form-control input-lg" name="username" placeholder="username" />
					<p class="help-block "><small>请输入用户名（不少于8个字符）</small></p>
					<input type="text" class="email form-control input-lg" name="email" placeholder="example@ics.pku.edu.cn" />
					<p class="help-block "><small>请输入邮箱（不少于8个字符）</small></p>
					<input type="password" class="password form-control input-lg" name="password"  />
					<p class="help-block "><small>请输入密码（不少于8个字符）</small></p>
					
					<input type="button" class="login btn btn-success btn-lg" value="Login">
					<input type="button" class="register btn btn-info btn-lg" value="Register">
			</form>

		</div><!-- //main content -->
	</row><!-- //row -->
</div> <!-- //container -->

<main>
	
</main>


