<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/registerLogin.css'}">
       <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!--<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">-->
        #{get 'moreStyles' /}



        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">



        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="@{'/public/javascripts/registerLogin.js'}" type="text/javascript" ></script>
        #{get 'moreScripts' /}




    </head>
    <body>
        #{doLayout /}
    </body>
</html>
